@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

button {
    cursor: pointer;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}

.header {
    background-color: #1f2937;
    color: #fff;
    padding: 20px 100px;
    border-bottom: 1px solid #eaeaea;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.header a {
    text-decoration: none;
    color: #e7e5eb
}

.header h1 {
    font-size: 45px;
    font-weight: 900;
    color: #f9faf8; 
    margin-bottom: 15px;
    line-height: 1;
}

.header button {
    background-color: #3882f6;
    color: #fff;
    margin-top: 15px;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.top-nav ul {
    list-style: none;
    padding: 0;
}

.top-nav ul li {
    margin-left: 20px;
    display: inline;
}

.hero {
    display: flex;
    justify-content: space-between;
    flex: 1;
    gap: 50px;
    padding: 100px 0;
}

.hero img {
    width: 50%;
    flex: 2;
}

.highlights {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 100px 100px;
}

.highlights h2 {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 25px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    flex: 0 1 200px;
    width: 200px;
}

.img-placeholder {
    width: 100%;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 10px;
    margin-bottom: 10px;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 15%;
    background-color: #e5e7eb;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    margin-bottom: 10px;
}

.source {
    align-self: flex-end;
    font-size: 24px;
    padding-right: 20px;
    font-weight: 700;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 30px;
}

.cta-card {
    background-color: #3882f6;
    color: #e5e7eb;
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-radius: 10px;
}

.cta-card button {
    background: transparent;
    border: 2px solid #e5e7eb;
    color: #e5e7eb;
}

.footer {
    background-color: #1f2937;
    color: #fff;
    padding: 30px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}



